<div id="container">
  <div class="box">
    <div>
      <h2>Mission</h2>
      <p>To identify the training needs in organizations and offer tailor-made modules to enhance Professional skills
        and
        infuse right attitude among employees and making them ideal employees.</p>
    </div>

    <div>
      <h2>Vision</h2>
      <p>To transform human resources in organizations perform to their fullest caliber to achieve their organizational
        objectives.
      </p>
    </div>
  </div>
</div>
