
<form [formGroup]="profileForm" (ngSubmit)="submit()">
  <div class="heading">
    <h2>
      Contact Us
    </h2>
  </div>

  <div class="input-container">
    <label>
      Name:
      <input class="input" type="text" formControlName="name">
    </label>
    <div *ngIf="profileForm.controls['name'].touched &&
           profileForm.controls['name'].invalid" class="alert-danger">
      <div class="error" *ngIf="profileForm.controls['name'].errors &&
            profileForm.controls['name'].errors.required">
        Name is required.</div>
      <div class="error" *ngIf="profileForm.controls['name'].invalid && !profileForm.controls['name'].errors.required">
        Enter a valid Name (Greater than 4 characters)</div>
    </div>
    <div class="valid" *ngIf="!profileForm.controls['name'].invalid">
      <img src="assets/check.svg" alt="">
    </div>
  </div>

  <div class="input-container">
    <label>
      Email:
      <input class="input" type="text" formControlName="email">
    </label>
    <div *ngIf="profileForm.controls['email'].touched &&
         profileForm.controls['email'].invalid" class="alert-danger">
      <div class="error" *ngIf="profileForm.controls['email'].errors &&
          profileForm.controls['email'].errors.required">
        Email id required.</div>
      <div class="error"
        *ngIf="profileForm.controls['email'].invalid && !profileForm.controls['email'].errors.required">
        Enter a valid email</div>
    </div>
    <div class="valid" *ngIf="!profileForm.controls['email'].invalid">
      <img src="assets/check.svg" alt="">
    </div>
  </div>

  <div class="input-container">
    <label>
      Phone:
      <input class="input" (keyup)="phone_validation()" type="number" formControlName="phone">
    </label>
    <div *ngIf="profileForm.controls['phone'].touched &&
     profileForm.controls['phone'].invalid" class="alert-danger">
      <div class="error" *ngIf="profileForm.controls['phone'].errors &&
          profileForm.controls['phone'].errors.required">
        Phone number required.</div>
    </div>
    <div class="error"
      *ngIf="profileForm.controls['phone'].touched && !phone_valid && !profileForm.controls['phone'].errors ">
      Enter a valid Phone Number (10 Digits)</div>

    <div class="valid" *ngIf="phone_valid">
      <img src="assets/check.svg" alt="">
    </div>
  </div>

  <div class="input-container">
    <label>
      City:
      <input class="input" type="text" formControlName="city">
    </label>
    <div *ngIf="profileForm.controls['city'].touched &&
           profileForm.controls['city'].invalid" class="alert-danger">
      <div class="error" *ngIf="profileForm.controls['city'].errors &&
            profileForm.controls['city'].errors.required">
        City is required.</div>
      <div class="error" *ngIf="profileForm.controls['city'].invalid && !profileForm.controls['city'].errors.required">
        Enter a valid Name (Greater than 3 characters)</div>
    </div>
    <div class="valid" *ngIf="!profileForm.controls['city'].invalid">
      <img src="assets/check.svg" alt="">
    </div>
  </div>

  <div class="input-container">
    <label class="question">
      Message:
      <textarea class="input" type="number" formControlName="content"></textarea>
    </label>
    <div *ngIf="profileForm.controls['content'].touched &&
         profileForm.controls['content'].invalid" class="alert-danger">
      <div class="error" *ngIf="profileForm.controls['content'].errors &&
         profileForm.controls['content'].errors.required">
        Question Cannot be empty.</div>
      <div class="error"
        *ngIf="profileForm.controls['content'].invalid && !profileForm.controls['content'].errors.required">
        Enter a Question with atleast 10 characters</div>
    </div>

    <div class="valid" *ngIf="!profileForm.controls['content'].invalid">
      <img src="assets/check.svg" alt="">
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="(!profileForm.valid) || (!phone_valid) || disabled">{{Submit}}</button>
  </div>



</form>
