<section class="showcase" [ngClass]="background">
  <div class="background-filter">
  </div>
  <div class="container">
    <div class="back">
      <a href="">
        <div class="link">
          <img src="assets/arrow-back.svg" alt="">
          <span>Home</span>
        </div>
      </a>
    </div>
    <h1>
      {{data.title}}
    </h1>
    <p>{{data.snippet}}</p>
    <!-- <a routerLink="contact" (click)="contactToggle()" class="enquire-link">Enquire</a> -->
    <!-- <a href="#contact" class="enquire-link">Read More</a> -->

  </div>
</section>
<section class="content" id="content">
  <div *ngFor="let content of data.content ">
    <p *ngIf="!content['list']">
      {{content}}
    </p>
    <ul *ngIf="content['list']">
      <li *ngFor="let listItem of content['list']">
        {{listItem}}
      </li>
    </ul>
  </div>
  <a routerLink="contact" (click)="contactToggle()" class="enquire-link">Register</a>
</section>


<div class="carousel-container">
  <h2 class="title">
    Related Courses
  </h2>
  <carousel class="carousel" cellWidth="100%" height="430" dots=true [cellsToShow]="cellsToShow" arrowsTheme=dark>

    <div class="carousel-cell" *ngFor="let card of cards">
      <img src="/assets/courses/{{card.imageSrc}}.jpg" [alt]="card.title">
      <h2>
        {{card.title}}
      </h2>
      <a [routerLink]="['../', card.link]" class="cta">Learn More</a>

    </div>
  </carousel>
</div>
<!-- <h2 class="promotion-title title">Upcoming Courses</h2>
<div class="promotion">
  <a href="courses/Motivational-Training/contact" class="cta">Contact</a>
  <iframe
    src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Finsightersindia%2Fposts%2F163681245512395&width=500&show_text=true&height=559&appId"
    width="500" height="559" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
</div> -->
<div class="contact-container" *ngIf="contact">
  <div class="contact">
    <div class="back">
      <a routerLink="./" (click)="contactToggle()">
        <div class="link">
          <img src="assets/arrow-back.svg" alt="">
          <span>Back</span>
        </div>
      </a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
