<footer>
  <div class="container">
    <div class="company">
      <img src="assets/logo/logo.svg" alt="">
      <h6>
        Insighters India
      </h6>
    </div>
    <ul class="courses">
      <li>
        <h6>
          Courses
        </h6>
      </li>
      <li> <a href="courses/NLP-Training">Neuro Linguisic Programming (NLP)</a> </li>
      <li> <a href="courses/Time-Management">Time Management</a> </li>
      <li> <a href="courses/Motivational-Training">Motivational Programme</a> </li>
      <li> <a href="courses/Emotional-Intelligence">Emotional Intelligence</a> </li>
      <li> <a href="courses/Law-Of-Attraction">Law Of Attraction</a> </li>
      <li> <a href="courses/OD-Intervention">OD Intervention</a> </li>
      <li> <a href="courses/Stress-Management">Stress Management</a> </li>
    </ul>

    <div>
      <ul class="social">
        <li>
          <h6>
            Follow Us
          </h6>
        </li>
        <li> <a href="https://www.facebook.com/insightersindia/">
            <img src="assets/logo-facebook.svg" alt="Facebook insighters india" target="blank"></a>
        </li>
        <li> <a href="https://www.linkedin.com/company/insightersindia/" target="blank">
            <img src="assets/logo-linkedin.svg" alt="Linkedin insighters india"></a>
        </li>
      </ul>
    </div>
  </div>
  <span>Designed and developed by <a href="https://www.raredigitalsolutions.com/" target="blank">Rare Digital
      Solutions</a></span>
</footer>
