<div class="dots" id="dots">
</div>

<div class="content">
  <H1>
    Be the Best... Checkout our certified Neuro Linguistic Program!
  </H1>
  <p>
    Understanding NLP will transform you into a positive thinker. The sky is the limit for your growth, be it on your
    personal front (or) in your business/career.
  </p>
  <!-- <p>
    We, Insighters India are specialized in training and empowering human resources to achieve organizational
    excellence
    in tune with our motto “Transform and Perform”.
  </p> -->
  <a [routerLink]="'courses/NLP-Training'" class="cta">
    Learn More
  </a>

</div>



<div class="content">
  <H2>
    Time Management is Life Management.
  </H2>
  <p>
    “Don’t decrease the goal. Increase the effort”
  </p>
  <p>
    Your future is created by what you do today, not tomorrow. Join our Time Management program today and transform yourself!
  </p>
  <a href="#courses" class="cta">
    Learn More
  </a>

</div>
<!--
<div class="content">
  <H2>
    Training isn’t just important, it is vital.
  </H2>
  <p>
    Training presents a prime opportunity to expand the knowledge base.
  </p>
  <p>
    “Don’t decrease the goal. Increase the effort”
  </p>
  <a href="#courses" class="cta">
    Learn More
  </a>

</div> -->

<div class="content">
  <H2>
    Our Stress Management Course helps you Stress Less.
  </H2>
  <p>
    Designed to transform your outlook towards life and make you stress-proof.
  </p>
  <p>
    Calmness is the cradle of power. Set peace of mind as your goal and organize your life around it, through our Stress
    Management Program.
  </p>
  <a [href]="'courses/Stress-Management'" class="cta">
    Learn More
  </a>

</div>

<div class="content">
  <H2>
    Bring in a positive vibe in a work culture that creates wonders!
  </H2>
  <p>
    We, Insighters India are specialized in training and empowering human resources to achieve organizational
    excellence
    in tune with our motto “Transform and Perform”.
    <!-- Your limitation, it's only your imagination. Our training programs allow you to strengthen your skills and improve
    overall knowledge. -->
  </p>
  <!-- <p> Don’t decrease the goal. Increase the effort</p> -->
  <a href="#courses" class="cta">
    Learn More
  </a>

</div>
