<div class="top">
  <img class="logo" src="assets/logo.svg" alt="Insighters India Logo">
  <img class="banner" src="assets/banner.png" alt="Insighters India Logo">
</div>
<div class="construction">
  <p>
    We're updating our website... Await a new learning experience!

  </p>
  <p> In the meantime, please use the following contacts to reach us out!</p>
</div>

<div class="container">
  <h2>
    For Business Enquiries
  </h2>
  <div class="contact">

    <div class="card">
      <h3>
        Ms. Nishalini
      </h3>
      <p class="active">
        +91 77085 81930
      </p>
      <p class="active">
        infoinsighters@gmail.com
      </p>
    </div>
    <div class="card">
      <h3>
        Prof. Visaagamoorthi
      </h3>
      <p class="active">
        +91 98421 81930
      </p>
      <p class="active">
        infoinsighters@gmail.com
      </p>
    </div>


  </div>

</div>
