.parallax {
  padding-top: 3rem;
  position: relative;
  background-color: #272727;
  .image {
    padding-top: 3rem;
    min-height: 100vh;
    background-color: #f50400;
    background-image: url("../../../../assets/images/mask-bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    h2 {
      font-family: "Montserrat";
      font-weight: 900;
      font-size: 8rem;
      color: transparent;
    }
    background-clip: text;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .any {
    width: 100%;
    top: 0;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 20vh;
    }
  }
}
@media (min-width: 2000px) {
  .parallax {
    .image {
      h2 {
      font-size: 4rem;

      }
      font-size: 4rem;
    }
  }
}

@media (max-width: 900px) {
  .parallax {
    .image {
      h2 {
        font-size: 15vw;
        }
    }
  }
}
