<div class="container">
  <h2>
    Our Team
  </h2>
  <div class="cards">
    <div class="card">
      <img src="assets/team/dr_nagarajan.png" alt="">
      <h4>
        Dr. K. Nagarajan
      </h4>
      <span>
        Mentor
      </span>
      <p>
        Dr. K. Nagarajan is a Post Graduate in Structural Engineering and Post Graduate in Business Administration, with
        a Doctorate in Management. He is also a Certified Associate of the Indian Institute of Bankers (CAIIB). He holds
        Diplomas in NLP Coaching and Emotional Intelligence. He served in the Tamilnadu Industrial Investment
        Corporation Limited and in various managerial capacities for about three decades and is in academia for the past
        nine years. He is the author of nine books in Business Management and allied telephones which are popular among
        the student community. He has contributed over 30 articles in reputed national and international journals. He is
        a trainer in Emotional Intelligence and NLP.
      </p>
    </div>

    <div class="card">
      <img src="assets/team/visagamoorthi.png" alt="">
      <h4>
        Dr. D. Visagamoorthi
      </h4>
      <span>
        Chief Architect
      </span>
      <p>
        Dr. D. Visagamoorthi is a Post Graduate in Applied psychology and Post Graduate in Business Administration, with
        a Doctorate in Management. He is also a Certified NLP Trainer. He holds an Advanced Diploma in Hypnosis. His
        publication includes a Book of Tamil Poetry entitled “VenpaniMottukkal”. He offers guidance for strategic HR and
        management development to various Indian corporate houses. He has conducted numerous seminars and workshops at
        many educational institutions. He has trained over 10,000 students and senior executives across various
        organizations in India. His training is mainly focused on Success Rules, Self-Confidence, Achievement,
        Motivation, and Stress Handling Techniques.
      </p>
    </div>

    <div class="card">
      <img src="assets/team/mohan.png" alt="">
      <h4>
        Mr. B. Mohan
      </h4>

      <p>
        Mr. B. Mohan is a graduate in law and Post Graduate in Business Administration and Social Science. He is also a
        Certified Associate of the Indian Institute of Bankers [CAIIB]. He is a Certified Financial planner awardee by
        the Financial Planning Standard Board of India and from NCFM Mumbai. He is successful in Civil Service
        Examination – 1995. He is a successful candidate in CBI examinations – 1990. He has 29 years of experience in
        the field of financial planning. Served as Vice President of UTI and CEO in SAIMA Financial Planning. He has
        conducted more than 200 investors awareness program. He is specialized in financial planning, Legal
        consultation, Business Strategy consultation to high net worth individuals and corporate.
      </p>
    </div>

    <div class="card">
      <img src="assets/team/mathibalan.png" alt="">
      <h4>
        Mr. K. Mathibalan
      </h4>
      <p>
        Mr.K.Mathibalan is a post-graduate in Business Administration. He served 35 years in the automobile field in
        Senior Executive position as General Manager (Operations) with M/s Stanes Motors Ltd., a unit company of M/s.
        Amalgamations group. He also worked with M/s.ABT Ltd as a divisional head and state head for M/s.Poomkudy
        Agencies Pvt. Ltd. His overseas assignment is with M/s.Suhail Bhawan in Gulf. He is an active member of the
        Tamil Nadu Automobile and Allied Industries Federation. He is an active trainer and consultant for business
        promotion in today’s competitive market.
      </p>
    </div>

    <div class="card">
      <img src="assets/team/masilamani.png" alt="">
      <h4>
        Mr. Manosakthi Masilamani
      </h4>
      <p>
        Mr. Manosakthi Masilamani is a Post Graduate in M.A with Yoga for human excellence. He is an eminent speaker and
        writer. He has a wide range of experience in training Sales managers all over India. He also authored books like
        “VetriyinVidhigal” and “ManoshakthiyeMaaperumShakthi”. He is a chairman of the Indian Institute of mind Power
        and has done live programs in Jaya TV, Kalaimagal TV and also in Dheepam TV (UK). His area of interest is “Mind
        and Mind power”.
      </p>
    </div>

    <div class="card">
      <img src="assets/team/anmol.png" alt="">
      <h4>
        Mr. Anmol Vij
      </h4>

      <p>
        Anmol Vij has 9+ years of Entrepreneurial experience in both traditional and start-up businesses. Business
        development and people management are his core skills. He was one among the 10 entrepreneurs selected for the
        fully funded accelerator program at Russia by DST. He has mentored a handful of entrepreneurs to bring their
        business idea to reality. He is known for his thought leadership and has been awarded by Rotract clubs of
        Coimbatore for inspiring the youth of Coimbatore.
      </p>
    </div>

    <div class="card">
      <img src="assets/team/sangeerani.png" alt="">
      <h4>
        Mrs. Sangeerani
      </h4>

      <p>
        Ms. Sangeerani is a Post Graduate in Business Administration with HR specialization. She has ten years of
        experience in Corporate Training and has handled prominent clients in Information Technology based companies.
        Her areas of interest are Time Management, Behavioral Training, Emotional intelligence, Personal profiling,
        Work-life balance, Team building, etc., Her USP is providing customized solutions to organization-specific
        problems.
      </p>
    </div>

    <!-- <div class="card">
      <img src="assets/team/nishalini.png" alt="">
      <h4>
        Ms. Nishalini
      </h4>

      <p>
        Ms. Nishalini is a Post Graduate in Business Administration with HR specialization. She has four years of
        experience in Corporate Training and has handled prominent clients in the corporate world. Her areas of interest
        are Human psychology, Training and Development, Stress Management, Inter-personal skills, OD intervention
        techniques, etc. She is a passionate trainer.
      </p>
    </div> -->

  </div>
</div>
