<Section id="start">
  <div class="top">
    <img class="logo" src="assets/logo/logo.svg" alt="">
    <img class="banner" src="assets/logo/banner.png " alt="">
  </div>
  <div class="left">
    <H2>
      Bring in a positive vibe in a work culture that creates wonders!
    </H2>
    <p>
      We, Insighters India are specialized in training and empowering human resources to achieve organizational
      excellence
      in tune with our motto “Transform and Perform”.
    </p>
    <a href="#about" class="cta">
      Learn More
    </a>

  </div>
  <div class="right">
    <app-landing-illustration></app-landing-illustration>
  </div>
</Section>

<section id="about">
  <div>

  </div>
  <h2>
    About Us
  </h2>
  <p>
    Our team comprises of expert trainers with rich experience in training, with diversified qualifications drawn from
    different domains.
  </p>
  <div class="container">
    <div class="card red-card card-1">
      <img class="icon" src="assets/strength.svg" alt="">
      <h3>
        Our Strength
      </h3>
      <p>
        Our strength lies in addressing individual needs and corporate requirements. We offer a Tailor-made as well as
        the custom-designed program to suit the requirements.
      </p>
    </div>
    <div class="card green-card card-2">
      <img class="icon" src="assets/choose.svg" alt="">
      <h3>
        Why Us
      </h3>
      <p>
        We have a good number of satisfied clients and the count keeps growing day by day as our clients have realized
        that they reap huge benefits when compared to what they invest in training human resources.
      </p>
    </div>
    <div class="card yellow-card card-3">
      <img class="icon" src="assets/excel.svg" alt="">
      <h3>
        Standard Of Excellence
      </h3>
      <p>
        Our team comprises of expert trainers with rich experience in training, with diversified qualifications drawn
        from different domains.
      </p>
    </div>
    <div class="card purple-card card-4">
      <img class="icon" src="assets/commit.svg" alt="">
      <h3>
        Commitment To Training
      </h3>
      <p>
        We are committed to offer our clients the best possible training and personal development to help them succeed
        with their chosen career path.
      </p>
    </div>
  </div>
</section>
<section id="service">
  <h2>
    Services
  </h2>
  <p>
    We provide the following services to enhance individual and organizational excellence.
  </p>

  <div class="container">
    <div class="card card-1">
      <div class="mask">
        <h3>
          NLP Training
        </h3>
        <p>
          NLP is the practice of understanding how people organise their thinking, feeling, language and behaviour to
          produce the results they do.
        </p>
        <a href="#" class="cta">Learn More</a>
      </div>
    </div>
    <div class="card card-2">
      <div class="mask">
        <h3>
          Psychometric Test
        </h3>
        <p>
          Psychometric tests are designed to measure candidates' suitability for a role based on the required
          personality characteristics and aptitude (or cognitive abilities).
        </p>
        <a href="#" class="cta">Learn More</a>
      </div>
    </div>



    <div class="card card-3">
      <div class="mask">
        <h3>
          Stress Management
        </h3>
        <p>
          Stress Management Training Benefits to the Individual Reduced personal stress. Improved decision making &
          productivity. More value, balance & happiness every day.
        </p>
        <a href="#" class="cta">Learn More</a>
      </div>
    </div>
    <div class="card card-4">

      <div class="mask">
        <h3>
          Self Management
        </h3>
        <p>
          This course will provide learners with the knowledge and skills to manage their time and plan their personal
          development.
        </p>
        <a href="#" class="cta">Learn More</a>

      </div>
    </div>
    <div class="card card-5">
      <div class="mask">
        <h3>
          Goal Setting
        </h3>
        <p>
          Setting SMART goals means you can clarify your ideas, focus your efforts, use your time and resources
          productively, and increase your chances of achieving what you want in life.
        </p>
        <a href="#" class="cta">Learn More</a>
      </div>
    </div>
    <div class="card card-6">
      <div class="mask">
        <h3>
          OD Intervention
        </h3>
        <p>
          OD is the practice of planned, systemic change in the beliefs, attitudes and values of employees for
          individual and company growth.
        </p>
        <a href="#" class="cta">Learn More</a>
      </div>
    </div>
    <div class="card card-7">
      <div class="mask">
        <h3>
          Time Management
        </h3>
        <p>
          Time management is the process of planning and exercising conscious control of time spent on specific
          activities, especially to increase effectiveness, efficiency, and productivity.
        </p>
        <a href="#" class="cta">Learn More</a>
      </div>
    </div>
    <div class="card card-8">
      <div class="mask">
        <h3>
          Coaching and Mentoring
        </h3>
        <p>
          Coaching and mentoring needs to offer structured solutions that help people gradually overcome their
          impediments and acheive Specific, Attainable, Realistic and goals.
        </p>
        <a href="#" class="cta">Learn More</a>
      </div>
    </div>
    <div class="card card-9">
      <div class="mask">
        <h3>
          Business Consultancy
        </h3>
        <p>
          Management consulting to help organizations improve their performance and efficiency. We analyze businesses
          and create solutions while also helping companies meet their goals.
        </p>
        <a href="#" class="cta">Learn More</a>
      </div>
    </div>
    <div class="card card-10">
      <div class="mask">
        <h3>
          Law of Attraction
        </h3>
        <p>
          There are techniques and exercises you can use to give you confidence, charisma, and most of all, the ability
          to love yourself, and to receive love.
        </p>
        <a href="#" class="cta">Learn More</a>
      </div>
    </div>
    <div class="card card-11">
      <div class="mask">
        <h3>
          Emotional Intelligence
        </h3>
        <p>
          Emotional Intelligence Training is a set of practical knowledge and skills that help individuals to become
          fluent in understanding the language of emotions.
        </p>
        <a href="#" class="cta">Learn More</a>
      </div>
    </div>
    <div class="card card-12">
      <div class="mask">
        <h3>
          Motivational Training
        </h3>
        <p>
          Motivation is an essential key for staying focused and fueling the desire to achieve.This provides skills and
          tools to develop and improve both professionally and personally.
        </p>
        <a href="#" class="cta">Learn More</a>
      </div>
    </div>
  </div>
</section>
<section id="partners">

</section>
