<Section id="start">

  <div class="top">
    <div class="brand-container">
      <svg xmlns="http://www.w3.org/2000/svg" class="logo" id="logo" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1200 1200">
        <defs>
          <style>
            .cls-1,
            .cls-4,
            .cls-5 {
              fill: none;
            }

            .cls-2,
            .cls-5 {
              opacity: 0.97;
            }

            .cls-3 {
              clip-path: url(#clip-path);
            }

            .cls-4,
            .cls-5 {
              stroke: #ff3c38;
              stroke-miterlimit: 10;
              stroke-width: 45px;
            }
          </style>
          <clipPath id="clip-path" class="logo-cube">
            <polygon class="cls-1" points="1168.13 273.97 31.87 273.97 600 1258 1168.13 273.97" />
          </clipPath>
        </defs>
        <g id="Logo">
          <g class="cls-2">
            <g class="cls-3">
              <polygon class="cls-4"
                points="1008.96 836.42 1008.96 364.2 600 128.09 191.04 364.2 191.04 836.42 600 1072.54 1008.96 836.42" />
            </g>
          </g>
          <line class="cls-5" x1="600" y1="600.31" x2="191.04" y2="364.2" />
          <line class="cls-5" x1="600" y1="1072.53" x2="600" y2="600.31" />
          <line class="cls-5" x1="1008.96" y1="364.2" x2="600" y2="600.31" />
        </g>
      </svg>
      <img class="banner" src="assets/logo/banner.png" alt="Insighters India banner">
    </div>
    <!-- <img class="logo" id="logo" src="assets/logo/logo.svg" alt=""> -->
    <nav class="nav">
      <ol>
        <li><a href="#about">About</a></li>
        <li><a href="#courses">Courses</a></li>
        <li><a href="#partners">Partners</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#contact">Contact</a></li>
      </ol>
    </nav>
    <svg class="nav-mobile-svg" (click)="mobile_menu()" id="Layer_1" data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <defs>
        <style>
          .cls-1 {
            fill: #272727;
          }

          .cls-2 {
            fill: #ff3c38;
          }
        </style>
      </defs>
      <circle id="background" class="cls-1" cx="256" cy="256" r="256" />
      <path id="bar" class="cls-2"
        d="M378.39,134.24H133.6c-15.27,0-27.65,10.7-27.65,23.88S118.33,182,133.6,182H378.29c15.27,0,27.65-10.7,27.65-23.88S393.56,134.24,378.39,134.24Z" />
      <path id="bar-2" data-name="bar" class="cls-2"
        d="M378.39,232.13H133.6c-15.27,0-27.65,10.7-27.65,23.88s12.38,23.88,27.65,23.88H378.29c15.27,0,27.65-10.7,27.65-23.88s-12.38-23.88-27.55-23.88Z" />
      <path id="bar-3" data-name="bar" class="cls-2"
        d="M378.45,330H133.66C118.39,330,106,340.71,106,353.9s12.38,23.88,27.65,23.88H378.35c15.27,0,27.65-10.7,27.65-23.88S393.62,330,378.45,330Z" />
    </svg>

    <nav class="nav-mobile">
      <ol>
        <li><a (click)="mobile_menu()" href="#about">About</a></li>
        <li><a (click)="mobile_menu()" href="#courses">Courses</a></li>
        <li><a (click)="mobile_menu()" href="#partners">Partners</a></li>
        <li><a (click)="mobile_menu()" href="#team">Team</a></li>
        <li><a (click)="mobile_menu()" href="#contact">Contact</a></li>
      </ol>
    </nav>
  </div>
  <div class="left">
    <app-banner></app-banner>
  </div>
  <div class="right">
    <!-- <img class="transform" src="assets/images/positive.jpg" alt=""> -->
    <div class="transform">
    </div>
  </div>
</Section>

<section id="about">
  <div class="title">
    <h2>
      About Us
    </h2>
    <p>
      Our team comprises of expert trainers with rich experience in training, with diversified qualifications drawn from
      different domains.
    </p>
  </div>
  <div class="container">
    <div class="card red-card card-1">
      <img class="icon" src="assets/strength.svg" alt="">
      <h3>
        Our Strength
      </h3>
      <p>
        Our strength lies in addressing individual needs and corporate requirements. We offer a Tailor-made as well as
        the custom-designed program to suit the requirements.
      </p>
    </div>
    <div class="card green-card card-2">
      <img class="icon" src="assets/choose.svg" alt="">
      <h3>
        Why Us
      </h3>
      <p>
        We have a good number of satisfied clients and the count keeps growing day by day as our clients have realized
        that they reap huge benefits when compared to what they invest in training human resources.
      </p>
    </div>
    <div class="card yellow-card card-3">
      <img class="icon" src="assets/excel.svg" alt="">
      <h3>
        Standard Of Excellence
      </h3>
      <p>
        Our team comprises of expert trainers with rich experience in training, with diversified qualifications drawn
        from different domains.
      </p>
    </div>
    <div class="card purple-card card-4">
      <img class="icon" src="assets/commit.svg" alt="">
      <h3>
        Commitment To Training
      </h3>
      <p>
        We are committed to offer our clients the best possible training and personal development to help them succeed
        with their chosen career path.
      </p>
    </div>
  </div>
</section>
<section id="courses">
  <h2>
    Courses
  </h2>
  <p>
    We provide the following Courses to enhance individual and organizational excellence.
  </p>

  <div class="container">
    <div class="card card-1">
      <div class="mask">
        <h3>
          NLP Training
        </h3>
        <p>
          NLP is the practice of understanding how people organise their thinking, feeling, language and behaviour to
          produce the results they do.
        </p>
        <a routerLink="courses/NLP-Training" class="cta">Learn More</a>
      </div>
    </div>
    <!-- <div class="card card-2">
      <div class="mask">
        <h3>
          Psychometric Test
        </h3>
        <p>
          Psychometric tests are designed to measure candidates' suitability for a role based on the required
          personality characteristics and aptitude (or cognitive abilities).
        </p>
        <a href="courses/Psychometric-Test" class="cta">Learn More</a>
      </div>
    </div> -->



    <div class="card card-3">
      <div class="mask">
        <h3>
          Stress Management
        </h3>
        <p>
          Stress Management Training Benefits to the Individual Reduced personal stress. Improved decision making &
          productivity. More value, balance & happiness every day.
        </p>
        <a href="courses/Stress-Management" class="cta">Learn More</a>
      </div>
    </div>
    <!-- <div class="card card-4">

      <div class="mask">
        <h3>
          Self Management
        </h3>
        <p>
          This course will provide learners with the knowledge and skills to manage their time and plan their personal
          development.
        </p>
        <a href="courses/Self-Management" class="cta">Learn More</a>

      </div>
    </div> -->
    <!-- <div class="card card-5">
      <div class="mask">
        <h3>
          Goal Setting
        </h3>
        <p>
          Setting SMART goals means you can clarify your ideas, focus your efforts, use your time and resources
          productively, and increase your chances of achieving what you want in life.
        </p>
        <a href="courses/Goal-Setting" class="cta">Learn More</a>
      </div>
    </div> -->
    <div class="card card-6">
      <div class="mask">
        <h3>
          OD Intervention
        </h3>
        <p>
          OD is the practice of planned, systemic change in the beliefs, attitudes and values of employees for
          individual and company growth.
        </p>
        <a href="courses/OD-Intervention" class="cta">Learn More</a>
      </div>
    </div>
    <div class="card card-7">
      <div class="mask">
        <h3>
          Time Management
        </h3>
        <p>
          Time management is the process of planning and exercising conscious control of time spent on specific
          activities, especially to increase effectiveness, efficiency, and productivity.
        </p>
        <a href="courses/Time-Management" class="cta">Learn More</a>
      </div>
    </div>
    <!-- <div class="card card-8">
      <div class="mask">
        <h3>
          Coaching and Mentoring
        </h3>
        <p>
          Coaching and mentoring needs to offer structured solutions that help people gradually overcome their
          impediments and acheive Specific, Attainable, Realistic and goals.
        </p>
        <a href="courses/Coaching-and-Mentoring" class="cta">Learn More</a>
      </div>
    </div> -->
    <!-- <div class="card card-9">
      <div class="mask">
        <h3>
          Business Consultancy
        </h3>
        <p>
          Management consulting to help organizations improve their performance and efficiency. We analyze businesses
          and create solutions while also helping companies meet their goals.
        </p>
        <a href="courses/Business-Consultancy" class="cta">Learn More</a>
      </div>
    </div> -->
    <div class="card card-10">
      <div class="mask">
        <h3>
          Law of Attraction
        </h3>
        <p>
          There are techniques and exercises you can use to give you confidence, charisma, and most of all, the ability
          to love yourself, and to receive love.
        </p>
        <a href="courses/Law-Of-Attraction" class="cta">Learn More</a>
      </div>
    </div>
    <div class="card card-11">
      <div class="mask">
        <h3>
          Emotional Intelligence
        </h3>
        <p>
          Emotional Intelligence Training is a set of practical knowledge and skills that help individuals to become
          fluent in understanding the language of emotions.
        </p>
        <a href="courses/Emotional-Intelligence" class="cta">Learn More</a>
      </div>
    </div>
    <div class="card card-12">
      <div class="mask">
        <h3>
          Motivational Training
        </h3>
        <p>
          Motivation is an essential key for staying focused and fueling the desire to achieve.This provides skills and
          tools to develop and improve both professionally and personally.
        </p>
        <a href="courses/Motivational-Training" class="cta">Learn More</a>
      </div>
    </div>
  </div>
</section>
<section id="partners">
  <div class="container">
    <div class="text">
      <h2>
        Our Partners
      </h2>
    </div>
    <div class="cards">
      <div class="card">
        <h4>
          The Chennai Silks
        </h4>
        <img src="../../../assets/partners/chennai_silks.png" alt=" The Chennai Silks">
        <p>
          The Chennai Silks is chain of retail textile shops in South India.
        </p>
      </div>

      <div class="card">
        <h4>
          Kirtilals
        </h4>
        <img src="../../../assets/partners/kirtilals.png" alt=" The Chennai Silks">
        <p>
          Kirtilals is a diamond jewellery retailer with a large presence in South Indian cities.
        </p>
      </div>

      <div class="card">
        <h4>
          V-Guard
        </h4>
        <img src="../../../assets/partners/vguard.png" alt=" The Chennai Silks">
        <p>
          V-Guard Industries Ltd is a major electrical appliances manufacturer in India, and the largest in the state of
          Kerala with an annual turnover of ₹23.21 billion
        </p>
      </div>
      <div class="card">
        <h4>
          MAS Solar Systems Private Limited
        </h4>
        <img src="../../../assets/partners/mas_solar_systems.png" alt=" The Chennai Silks">
        <p>
          Established in the year 2010, Mas Solar Systems Private Limited started the endeavor to resource the nature’s
          power, solar energy with the development of solar-based products for domestic and commercial applications.
        </p>
      </div>
      <div class="card">
        <h4>
          Amphisoft Technologies
        </h4>
        <img src="../../../assets/partners/amphisoft.png" alt=" The Chennai Silks">
        <p>
          Amphisoft Technologies is a next-generation global technology company that helps enterprises reimagine their
          businesses for the digital age.
        </p>
      </div>
      <div class="card">
        <h4>
          Sakthi Institute of Information and Management
        </h4>
        <img src="../../../assets/partners/sri-shakthi-institute.png"
          alt="Sakthi Institute of Information and Management">
        <p>
          Sakthi Institute of information and Management Studies (SIIMS), was founded by Padmabhusan Arutchelvar Dr. N.
          Mahalingam, founder of SIIMS in 1947.
        </p>
      </div>
      <div class="card">
        <h4>
          Hindustan Institute of Technology & Science
        </h4>
        <img src="../../../assets/partners/hindustan-institute.png"
          alt="Hindustan Institute of Technology & Science">
        <p>
          Hindustan College of Engineering, started in the year 1985, was conferred the "University Status" by
          University Grants Commission (UGC), Government of India
        </p>
      </div>
      <div class="card">
        <h4>
          MAG Solvics Private Limited
        </h4>
        <img src="../../../assets/partners/mag-solvics.png"
          alt="MAG Solvics Private Limited">
        <p>
          MAG was established in 1991 with an insight to design and develop testing instruments for Textile industry
        </p>
      </div>
    </div>
  </div>
</section>
<section id="team">
  <app-team></app-team>
</section>
<section id="contact">
  <app-contact></app-contact>
</section>
<section id="testimonials">
  <app-testimonials></app-testimonials>
</section>
<section class="branding">
  <app-mask></app-mask>
</section>
