<Section id="start">
  <div class="top">
    <img class="logo" src="assets/logo/logo.svg" alt="">
    <img class="banner" src="assets/logo/banner.png " alt="">
  </div>
  <div class="left">
    <H2>
      Bring in a positive vibe in a work culture that creates wonders!
    </H2>
    <p>
      We, Insighters India are specialized in training and empowering human resources to achieve organizational
      excellence
      in tune with our motto “Transform and Perform”.
    </p>
    <a href="#" class="cta">
      Learn More
    </a>

  </div>
  <div class="right">
    <img class="transform" src="assets/transform.svg" alt="">
  </div>
</Section>
