<div class="contact">

  <div class="address">
    <fa-icon [icon]="building" class="big"></fa-icon>
    <h3>
      Coimbatore
    </h3>
    <p>
      No.7, Tarun Complex, Navavoorpirivu, Bharathiyar University Post, Maruthamalai Road,
    </p>
    <p>
      Coimbatore - 641046
    </p>
    <p>Tamil Nadu</p>
    <p>India</p>
    <span>
      <fa-icon [icon]="phone"></fa-icon> +91 877 895 6884
    </span>
    <span>
      <fa-icon [icon]="mail"></fa-icon> infocbe@insightersindia.com
    </span>

  </div>


  <div class="address">
    <fa-icon [icon]="building" class="big"></fa-icon>
    <h3>
      Chennai
    </h3>
    <p>
      No. 14, B3 – Samrithi Apartments,Devi Karumari Amman Nagar,Kolapakkam,
    </p>
    <p>
      Chennai - 600122
    </p>
    <p>Tamil Nadu</p>
    <p>India</p>

    <span>
      <fa-icon [icon]="phone"></fa-icon> +91 739 725 3810
    </span>
    <span>
      <fa-icon [icon]="mail"></fa-icon> infochennai@insightersindia.com
    </span>

  </div>

  <div class="address">
    <fa-icon [icon]="building" class="big"></fa-icon>
    <h3>
      Bangalore
    </h3>
    <p>
      No. 301, Ramakrishna Reddy Layout,4th Cross,Mahadevapura,
    </p>
    <p>
      Bangalore – 560048
    </p>
    <p>Tamil Nadu</p>
    <p>India</p>

    <span>
      <fa-icon [icon]="phone"></fa-icon> +91 944 374 6845
    </span>
    <span>
      <fa-icon [icon]="mail"></fa-icon> infobangalore@insightersindia.com
    </span>

  </div>
</div>
