<div class="contact">

  <address class="address">
    <fa-icon [icon]="building" class="big"></fa-icon>
    <h3>
      Coimbatore
    </h3>
    <p>
      No.7, Tarun Complex, Navavoorpirivu, Bharathiyar University Post, Maruthamalai Road,
    </p>
    <p>
      Coimbatore - 641046
    </p>
    <p>Tamil Nadu</p>
    <p>India</p>
    <span>
      <fa-icon [icon]="phone"></fa-icon> +91 877 895 6884
    </span>
    <span>
      <fa-icon [icon]="mail"></fa-icon> infoinsighter@gmail.com
    </span>
    <iframe class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15664.242244138686!2d76.8819534766714!3d11.03408322435093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2ff41c8211f2af4!2sInsighters%20India!5e0!3m2!1sen!2sin!4v1609931355117!5m2!1sen!2sin"
      height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

  </address>


  <address class="address">
    <fa-icon [icon]="building" class="big"></fa-icon>
    <h3>
      Chennai
    </h3>
    <p>
      No. 14, B3 – Samrithi Apartments,Devi Karumari Amman Nagar,Kolapakkam,
    </p>
    <p>
      Chennai - 600122
    </p>
    <p>Tamil Nadu</p>
    <p>India</p>

    <span>
      <fa-icon [icon]="phone"></fa-icon> +91 739 725 3810
    </span>
    <span>
      <fa-icon [icon]="mail"></fa-icon> infoinsighter@gmail.com
    </span>
    <iframe class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31097.83129744902!2d80.10919276829196!3d13.021089612688813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52604f483c6b51%3A0xd195eadab06966b6!2sInsighters%20India!5e0!3m2!1sen!2sin!4v1609932341407!5m2!1sen!2sin"
      height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </address>

  <address class="address">
    <fa-icon [icon]="building" class="big"></fa-icon>
    <h3>
      Bangalore
    </h3>
    <p>
      No. 301, Ramakrishna Reddy Layout,4th Cross,Mahadevapura,
    </p>
    <p>
      Bangalore – 560048
    </p>
    <p>Karnataka</p>
    <p>India</p>

    <span>
      <fa-icon [icon]="phone"></fa-icon> +91 944 374 6845
    </span>
    <span>
      <fa-icon [icon]="mail"></fa-icon> infoinsighter@gmail.com
    </span>

    <iframe class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31102.092917459933!2d77.66876530919376!3d12.987093292347096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x763ff1ef0d95859e!2sInsighters%20India!5e0!3m2!1sen!2sin!4v1609932124272!5m2!1sen!2sin"
      height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </address>
</div>
