<div class="container">
  <div class="title">
    <h2>Testimonials</h2>
    <p>Few words from our happy customers.</p>
  </div>
  <div class="testimonial">
    <p>
      <i>
        It has really given me new insight and energy to take my life and
        profession into the next level.
        Facilitation
        was outstanding.I would recommend this course to people interested to
        rejuvenate their life. There was a lot
        of energy and enthusiasm.
      </i>
    </p>
    <div class="headings">
      <h3> Mr. Karthikeyan Palanichamy, Manager – Technical Lead</h3>
      <h4>HCL Technologies, Chennai</h4>
    </div>
  </div>


  <div class="testimonial">
    <p>
      <i>
        It was one of the best learning experiences I had. With great pride, I
        can say that I have attended several
        training programs of Insighters. I would say it provides trainees the
        entire gamut of human resource
        management.
      </i>
    </p>
    <div class="headings">
      <h3>
        Mr. Sangeeth Kumar R, Category Manager, Mobiles Team,</h3>
      <h4>Flipkart, Bangalore</h4>
    </div>
  </div>



  <div class="testimonial">
    <p>
      <i>
        One of the excellent training programs. I learned a lot. I am inspired
        to think and rethink the way of my
        life.The module was highly participatory and interesting. I have gained
        a lot of knowledge.Best trainings I
        have ever attended.
      </i>
    </p>
    <div class="headings">
      <h3>
        Mr. Gurusamy Rajasekaran, Program Manager</h3>
      <h4>Tech Mahindra, Hyderabad</h4>
    </div>
  </div>



  <div class="testimonial">
    <p>
      <i>
        The training was very inspirational, energizing, bringing lots of
        positive changes in me and in our
        organization.The interactive atmosphere and live examples used for
        illustrations were refreshing.The
        pedagogical structure was outstanding.
      </i>
    </p>
    <div class="headings">
      <h3>
        Mr. Anbazhagan Palanisamy, CEO</h3>
      <h4>MAS Solar Systems Private Limited, Coimbatore</h4>
    </div>
  </div>

</div>
